.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 20em;
  min-height: fit-content;

  padding: 1.2em;

  gap: 1em;

  color: #fefefe;
  background-color: #36393f;
  box-shadow: rgb(0, 0, 77) 0px 5px 10px -1px;
  border-radius: 0.5em;

  transition: all 0.6s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: rgb(0, 0, 77) 0px 20px 30px -10px;
  }

  h1 {
    width: 100%;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h5 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fields {
  display: flex;
  gap: 0.3em;
}

.dragonType {
  padding: 0.6em;
  border-radius: 0.8em;
  border: 1px solid #fefefe;

  letter-spacing: 0.1rem;
}

.dragonName {
  color: #646cff;
}

.dragonBirth {
  letter-spacing: 0.2rem;
}
