body {
  background-image: linear-gradient(to right top, #646cff, #958fff, #bcb3ff, #ded9ff, #ffffff);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
